ion-button {
    text-align: end;
}

ion-range {
    --bar-background: #8e97fd;
    --bar-background-active: #bde0fe;
    --knob-background: #6370ff;
    --pin-background: #5260ff;
    --pin-color: #fff;
    --knob-size: 20px;
  }