<ion-content [fullscreen]="true" class="ion-padding">
  <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
  <img
    alt="logo aplicacion"
    src="/assets/logoAPP.jpg" 
  ><img>
  <div id="container">
    <br /> <br /> <br /> <br /> 
    <ion-button shape ="round" size="small" fill="outline" color="sky" class="ion-text-center" routerLink="/iniciar">Iniciar sesion</ion-button>
    <p></p>
    <ion-button shape ="round" size="small" fill="outline" color="sky" class="ion-text-center" routerLink="/crear">Crear cuenta</ion-button>
  </div>
</ion-content>